
body {
  background-color: rgba(43, 112, 95, 0.473) ;
  background-image: url("taustakuva.jpg");
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: auto;
  text-align: center;
  padding: 30px;

}

h1, h2, h3, h4 {
  color:rgb(23, 74, 90);
  text-align: center;
}

.column {
  float: center;
  width: 50%;
}
